#General


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(to right, #130035, #d166d3); */
  background-color: #130035;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #2a0051, #230044, #1a0049, #150035, #0c0023);
}

html {
  scroll-behavior: smooth;
}

p {
  color: #40ffdc;
}

/*Transition */

a,
.btn {
  transition: all 300ms ease;
}

/*Desktop nav */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: top;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #00a9d4;
  text-decoration: none;
  text-decoration: white;
}

a:hover {
  color: #40ffdc;
  text-decoration: none;
  text-underline-offset: irem;
}

.logo {
  color: #40ffdc;
  text-decoration: none;
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/*Hamburger Menu */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #00a9d4;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: wheat;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: wheat;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
  background-color: whitesmoke;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, 5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */

section {
  padding-top: 10vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile */

#Profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
  border-radius: 2rem;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}
.section__text__p1 {
  text-align: center;
}

.section__text__p1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #00a9d4;
}

.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Icon */

.icon {
  cursor: pointer;
  height: 2.5rem;
  font-size: 3rem;
}

/*Button */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  
  justify-content: center;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1.5rem;
  /* width: 1rem; */
  border-radius: 1.5rem;
}

.btn-color-2 {
  border: #40ffdc;
}

.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2:hover {
  background-color: #40ffdc;
  color: #00a9d4;
}

.btn-color-2 {
  background: transparent;
}

.btn-container {
  gap: 1rem;
}

/* About section */

#about {
  position: relative;
}

.about-container {
  gap: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  top: 40rem;
  right: -8rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(78, 0, 166);
  border-radius: 5rem;
  border: #40ffdc 0.2rem solid;
  text-align: center;
}

.details-container h3 {
  color: #d166d3;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto;
}

/*Experience section */

#experience {
  position: relative;
}

.experience-sub-title {
  color: #00a9d4;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.article-container h3 {
  color: aliceblue;
}

.details-container a {
  color: #d166d3;
  border-radius: 2rem;
  text-align: center;
  font-size: 10vh;
}

/* Projects */

#projects {
  height: 17vh;
  position: relative;
}

.section__text__p3s {
  height: 45vh;
}
.section__text__p3 {
  height: 5vh;
  text-align: center;
}

.section__text__p3 {
  height: 5vh;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.title2 {
  height: 14vh;
  font-size: 3rem;
  text-align: center;
  color: #00a9d4;
}

.color-container {
  border-color: #00a9d4;
  background: #130035;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: aliceblue;
}

.project-btn {
  color: #d166d3;
  border-color: transparent;
}


*
/* .header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: 100;
}

.logo {
  font-size: 25px;
  color: #40ffdc;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1c0021;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar a {
  font-size: 16px;
  color: #40ffdc;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #1c3166;
}

.home {
  height: 100vh;
  background: url("Imagenes/Goku.jpg") no-repeat;
  background-position: top;
  background-position: right;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: whitesmoke;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  width: 345px;
  height: 50px;
  background: transparent;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100;
  background: #40ffdc;
  border: 2px solid #40ffdc;
  border-radius: 8px;
  font-size: 19px;
  color: #00a9d4;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #40ffdc;
}

.btn-box a:nth-child(2)::before {
  background: #40ffdc;
}

.btn-box a:nth-child(2):hover {
  color: #1c0021;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c0021;
  z-index: -1;
  transition: 0.5s;
  overflow: hidden;
}

.btn-box a:hover::before {
  width: 100%;
}
/* KEYFRAMES ANIMATION */
/* @keyframes showRight {
  100% {
    width: 0;
  }
/* } */
