* {
    margin: 0;
    padding: 0;
  }

body{
    background: #f2e8d0;
}

.header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #431464;
}

.content{   
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}
.title{
    font-size: 3rem;
    color: white;
  }

.subTitle{
    display: flex;
    color: #3a095d;
    padding-top: 2rem;
    font-size: 2rem;
}

.text1{
    font-size: 1.2rem;
    color: black;
    padding: 2rem;
    text-align: justify;
}

.subTitle1{
    display: flex;
    padding-top: 2rem;
    padding-left: 2rem;
}

